/* 全局样式初始化 */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    height: 100vh;
    line-height: 1.6;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100%;

    /* 使用css实现全图滚动 */

    /* overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory; */
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;

    /* scroll snap  css 实现全局滚动*/

    /* scroll-snap-align: center; */
}

section h1 {
    font-size: 3rem;
}

section p {
    font-size: 1.5rem;
}

section#home {
    background: url("https://images.pexels.com/photos/34140/pexels-photo.jpg?cs=srgb&dl=blogging-coding-copywriting-34140.jpg&fm=jpg") no-repeat center center/cover;
}

section#about {
    background: url("https://images.pexels.com/photos/1591060/pexels-photo-1591060.jpeg?cs=srgb&dl=abstract-bedrock-blur-1591060.jpg&fm=jpg") no-repeat center center/cover;
}

section#service {
    background: url("https://images.pexels.com/photos/270435/pexels-photo-270435.jpeg?cs=srgb&dl=black-computer-contemporary-270435.jpg&fm=jpg") no-repeat center center/cover;
}

section#contact {
    background: url("https://images.pexels.com/photos/270637/pexels-photo-270637.jpeg?cs=srgb&dl=advertising-alphabet-business-270637.jpg&fm=jpg") no-repeat center center/cover;
}